/* feature__container */



.feature__container {
  padding: 30px 10%;
  font-size: 16px;
}

.feature__row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.feature__block:nth-child(1) {
  width: 30%;
  border: 1px solid #001648;
}

.feature__block:nth-child(2) {
  width: 67%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding-top: 30px;
}

.feature__contact {
  text-align: center;
  padding: 20px;
}

.feature__contact img {
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feature__contact h3 {
  font-family: "Philosopher", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 30px;
  color: #033479;
}

.feature__contact p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.42857143;
  font-size: 20px;
  padding: 10px 0px;
}

.feature__contact p a {
  font-weight: 400;
  color: #033479;
  font-size: 18px;
}
.feature__contact  a:hover {
  color: #0859ca;
}

.feature__contact  a:before {
  padding: 0 5px 0 0;
  content: "\f17e";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}



.second__feature-block {
  padding-right: 30px;
}

.second__feature-block p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
}

.second__feature-block ul {
  margin-bottom: 20px;
}
.second__feature-block ul li {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}

.second__feature-block ul li span {
  color: #e60000;
  font-weight: bold;
}

.second__feature-block ul li:before {
  padding: 0 10px 0 0;
  content: "\f087";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #033479;
}

/* @media  */

@media (max-width: 992px) {
  .feature__container {
    padding: 30px 5%;
  }
}

@media (max-width: 768px) {
  .feature__row {
    display: block;
  }
  .feature__block:nth-child(1) {
    width: 100%;
    margin-bottom: 30px;
  }

  .feature__block:nth-child(2) {
    width: 100%;
  }
  .second__feature-block {
    padding-right: 0px;
  }
}
